<h1>Amazon EC2 monthly(31days) costs in JPY</h1>
<h2>Asia Pacific Tokyo </h2>

Rate:
1米ドル = 
<%= number_to_currency(@rate, :unit => "円", :precision => 2, :format => '%n%u') %>



<br>

<table>
  <tr>
    <th>Standard</th>
  </tr>
<% @costs_st.each do |c| %>
  <tr>
    <td><%= c[0] %></td>
    <td><%= number_to_currency(c[1], :unit => "円", :precision => 0, :format => '%n%u') %></td>
  </tr>
<% end %>

<br>
<table>
  <tr>
    <th>Micro</th>
  </tr>
<% @costs_mic.each do |c| %>
  <tr>
    <td><%= c[0] %></td>
    <td><%= number_to_currency(c[1], :unit => "円", :precision => 0, :format => '%n%u') %></td>
  </tr>
<% end %>

<br>
<table>
  <tr>
    <th>High Memory</th>
  </tr>
<% @costs_h_mem.each do |c| %>
  <tr>
    <td><%= c[0] %></td>
    <td><%= number_to_currency(c[1], :unit => "円", :precision => 0, :format => '%n%u') %></td>
  </tr>
<% end %>

<br>
<table>
  <tr>
    <th>High CPU</th>
  </tr>
<% @costs_h_cpu.each do |c| %>
  <tr>
    <td><%= c[0] %></td>
    <td><%= number_to_currency(c[1], :unit => "円", :precision => 0, :format => '%n%u') %></td>
  </tr>
<% end %>
</table>
